<div class="main-container-m">
  <div class="inner-container">
    <form method="POST" enctype="multipart/form-data">
    <div class="fc-row">
      <input [(ngModel)]="newpsswd" name="newpsswd" class="input-log" type="password" placeholder="Nueva contraseña" required="required">
    </div>
    <div class="fc-row">
      <input [(ngModel)]="echopsswd" class="input-log" type="password" name="echopsswd" placeholder="Repita contraseña" required="required">
    </div>
    <div class="fc-row">
      <input class="submit-log" type="submit" value="Cambiar" (click)="doChangePassword()">
    </div>
  </form>
  </div>
</div>
