{% load static %}
<!DOCTYPE html>
<html class="h-100 fc-max-xl">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'styleResources/password_reset.css' %}">
		<link rel="shortcut icon" href="{% static 'styleResources/iconbsc.png' %}" />
		<title>BSC</title>
	</head>
	
	<body class="d-flex flex-column h-100">
		<div class="main-container-m">
            <div class="inner-container">
              <div class="fc-row">
                <div class="container-img">
                  <img class="img-main-add-xlog" height="60px" src="{% static 'styleResources/home.png' %}">
                </div>
              </div>
              <div class="fc-row">
                <div class="container-img">
                  <img class="img-main-add-xlog" height="140px" src="{% static 'styleResources/iconbsc.png' %}">
                </div>
              </div>
			  <div class="fc-row">
				<span style="font-size: 16px; text-align: center;"><strong>RECUPERACIÓN DE CONTRASEÑA COMPLETADA<strong></span>
			  </div>
			  <div class="fc-row">
				<span style="font-size: 14px; text-align: left;"><b>Se ha recuperado la contraseña correctamente, puede iniciar sesión en la aplicación.<b></span>
			  </div>
              <div class="fc-row">
                <a href="BSC://luncher" style="border-radius: 15px;padding: 15px 15px;background-color: #181be7;border: 2px solid #181be7;color: white;display: block;">ABRIR APLICACIÓN</a>
			  </div>
            </div>
          </div>
	</body>
</html>