{% load static %}
<!DOCTYPE html>
<html class="h-100 fc-max-xl">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'styleResources/password_reset.css' %}">
		<link rel="shortcut icon" href="{% static 'styleResources/iconbsc.png' %}" />
		<title>BSC</title>
	</head>
	
	<body class="d-flex flex-column h-100">
		<div class="main-container-m">
            <div class="inner-container">
              <form method="POST" >{% csrf_token %}
              <div class="fc-row">
                <div class="container-img">
                  <img class="img-main-add-xlog" height="60px" src="{% static 'styleResources/home.png' %}">
                </div>
              </div>
              <div class="fc-row">
                <div class="container-img">
                  <img class="img-main-add-xlog" height="140px" src="{% static 'styleResources/iconbsc.png' %}">
                </div>
              </div>
			  <div class="fc-row">
				<span style="font-size: 14px; text-align: center;"><b>Por favor introduzca su nueva contraseña.<b></span>
			  </div>
			  <div class="fc-row">
				<input class="input-log" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="NUEVA CONTRASEÑA">
			  </div>
              <div class="fc-row">
				<input class="input-log" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="CONFIRME CONTRASEÑA">
              </div>
              <div class="fc-row">
                <input class="submit-log" type="submit" value="Cambiar contraseña">
              </div>
            </form>
            </div>
          </div>
	</body>
</html>